body{
    background-color: aqua;
}
.items{
    text-align: center;
    background-color: antiquewhite;
    padding: 100px;
    margin: 100px;
}
.main{
    display: flex;
    /* flex-direction: row-reverse; */
    flex-wrap:wrap;
    justify-content: space-around;
}
.one{
    display: flex;
  
     /* grow 2 times shrink 3 times and initial size is 200px */
}